/* Garet Font - Add your font files to /public/fonts/ */
@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Book.woff2') format('woff2'),
       url('/fonts/Garet-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Medium.woff2') format('woff2'),
       url('/fonts/Garet-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garet';
  src: url('/fonts/Garet-Bold.woff2') format('woff2'),
       url('/fonts/Garet-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
